<div class="row">
  <div class="col-md-12">
    <h2><%= @question.title %></h2>
    <div>
      質問内容: <%= simple_format(@question.content) %>
    </div>
    <div>
      質問者: <%= @question.name %>
    </div>
    <hr>
    
    <div>
      <%= link_to '> ホーム', root_path %>
    </div>
  </div>
</div>