$accent: #57C3E9;
$black: #292929;
$dark: #666;
$darkGray: #999999;
$gray: #D8D8D8;
$lightGray: #f5f5f3;
$white: white;
$primary: #007bff;

//mixin
@mixin boxBase($margin: 30px auto, $padding: 10px) {
  margin: $margin;
  padding: $padding;
}
@mixin basePadding($padding: 10px) {
  padding: $padding;
}
@mixin baseMargin($margin: 10px auto) {
  margin: $margin;
}

body {
  padding-top: 100px;
}

h1,h2,h3,h4,h5,h6,body {
line-height: 1.57;
  letter-spacing: 0.15em;
  font-size: 16px;
  color: $dark;
  font-family: 'Unica One', "Avenir", "游ゴシック", "YuGothic", "ヒラギノ角ゴ Pro W6", "HIragino Kaku Gothic Pro W6", "HIragino Kaku Gothic Pro", Osaka, Meiryo, "メイリオ", "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;
  margin: 0;
}

.header__bar .grid-6 a {
  text-decoration: none;
  @extend .transition;
}

.bold {
  font-weight: bold;
}

.ultra {
  font-size: 2em !important;
}

::selection {
  background: $gray;
}

.transition {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

.title {
  font-weight: bold;
}

.title--big {
  font-size: 1.5em;
  font-weight: bold;
  i {
    font-style: italic;
    font-size: 1.8em;
  }
}

header.header {
  // @include basePadding;
  border-bottom: 1px solid $gray;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  padding-top: 10px;
  padding-bottom: 10px;
  
  div.header__bar.row {
    position: relative;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    
    h1.grid-6 {
      font-size: 20px;
      line-height: 41px;
      a {
        display: block;
      }
    }
    div.grid-6 {
      text-align: right;
      display: flex;
      align-items: center;
      a.post {
        // @extend .btn;
        // width: 120px;
        display: inline-left;
        margin-left: 10px;
      }
    }
  }
}

.user_nav {
  position: relative;
  // height: 100px;
  // position: absolute;
  right: 0;
  span {
    // top: 10px;
    display: block;
    // float: left;
    // margin-left: 30px;
    margin-right: 18px;
    width: 185px;
    // height: 50px;
    font-size: 1em;
    cursor: pointer;
    position: relative;
    &:after {
      content: '▼';
      font-size: .7em;
      margin-left: -4px;
    }
    &:hover ul {
      color: $accent;
      display: block;
    }
  }
  ul {
    display: none;
    font-size: 12px;
    position: absolute;
    top: 24px;
    right: 0;
    list-style: none;
    padding-left: 0;
    border-left: 1px solid #d8d8d8;
    border-right: 1px solid #d8d8d8;
    box-shadow: 1px 2px 5px rgba(0,0,0,0.1);
    li {
      background-color: #f0f0f0;
      a {
        display: block;
        padding: 10px 20px;
        text-align: left;
        border-bottom: 1px solid #d8d8d8;
      }
    }
  }
}

div.contents.row {
  h2 {
    @include boxBase(20px 0, 0);
    font-weight: normal;
    strong {
      font-weight: bold;
      padding-right: 5px;
      font-size: 1.2em;
    }
  }
  .new_user{
  font-family: "游ゴシック", "YuGothic";
  }
  div.content_post {
    @include boxBase(20px 0 ,30px);
    position: relative;
    height: 400px;
    color: #fff;
    background-size: cover;
    background-position: center center;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba($black,0.2);
    &:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 62%,rgba(0,0,0,0.85) 100%);
      z-index: 1;
      border-radius: 3px;
    }
    .more {
      position: absolute;
      cursor: pointer;
      top: 20px;
      right: 30px;
      z-index: 2;
      height: 100px;
      width: 80px;
      text-align: right;
      &:hover ul.more_list {
        display: block;
      }
      ul.more_list {
        position: absolute;
        text-align: left;
        width: 80px;
        right: 0;
        font-size: 12px;
        background-color: #fff;
        border: 1px solid #ddd;
        display: none;
        box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
        border-radius: 3px;
        li {
          border-bottom: 1px solid #ddd;
          &:last-child {
            border-bottom: 0;
          }
          a {
            display: block;
            padding: 5px;
            &:hover {
              background-color: $accent;
              color: #fff;
            }
          }
        }
      }
    }
    p {
      position: absolute;
      left: 30px;
      right: 100px;
      bottom: 30px;
      margin: 0;
      font-size: 20px;
      z-index: 2;
      font-weight: bold;
      text-shadow: 0 0 2px #000, 0 0 1px #000, 0 0 1px #000;
    }
    span.name {
      position: absolute;
      right: 30px;
      bottom: 30px;
      z-index: 2;
      font-size: 13px;
      a {
        display: block;
        color: #aaa;
        &:hover {
          text-decoration: underline;
          color: #aaa;
        }
      }
      span {
        font-size: 9px;
        display: block;
      }
    }
  }
  .success {
    @include boxBase(20px 0 ,30px);
    box-shadow: 0 0 10px rgba($black,0.2);
    background-color: $white;
    box-sizing: border-box;
    text-align: center;
    h3 {
      @include baseMargin;
    }
  }
}
form {
  h3 {
    @include baseMargin(0 0 20px);
    text-align: center;
    font-weight: normal;
    font-size: 20px;
    color: $dark;
  }
  input,textarea {
    width: 100%;
    @include boxBase(5px 0 15px,10px);
    border: 1px solid $gray;
    border-radius: 5px;
    font-family: "游ゴシック", "YuGothic";
  }
  input[type="submit"] {
    width: auto;
    @extend .transition;
    border: 0;
  }
}

/**/
// .home {
//   tr > td:nth-child(2) {
//     width: 70%;
//   }
// }

.show {
  tr > th:nth-child(2) {
    width: 54%;
  }
  tr > td:nth-child(2) {
    width: 54%;
  }
}

.link-back {
  padding: 40px 0 40px;
}

input[type="checkbox"] {
  width: auto;
}

// .reg-form {
  
// }

.btn-login {
  margin-right: 12px;
}

.disabled-link {
  position: relative;
  cursor: pointer;
  color: gray;
  opacity: 0.8;
  &-tip {
    display: none;
    position: absolute;
    top: -90px;
    right: 0;
    width: 140px;
    height: 85px;
    border-radius: 8px;
    font-size: 12px;
    color: $white;
    background-color: skyblue;
    padding: 6px;
    text-align: center;
    &.mypage {
        top: -50px;
        right: -10px;
        width: 145px;
        height: 55px;
      }
  }
  &:hover {
    .disabled-link-tip {
      display:block;
      &::before {
        content: '';
        width: 0;
        height: 0;
        /* border: 8px solid #fff; */
        border: 8px solid transparent;
        position: absolute;
        bottom: -12px;
        left: 16px;
        border-top-color: skyblue;
        border-left-color: skyblue;
      }
    }
  }
}

.table-mypage:not(:last-of-type) {
  margin-bottom: 80px;
}

form input,
form textarea {
  width: 70%;
  max-width: 420px;
}

#answer_content {
  max-width: initial;
}

@media screen and (max-width:576px) {
  
  .text-success,
  .text-danger {
    padding-top: 40px;
  }
  
  form input,
  form textarea {
    width: 100%;
    max-width: initial;
  }
  
  .show tr > th:nth-child(2),
  .show tr > td:nth-child(2){
    width: 40%;
  }
  
  tr > th:nth-child(3),
  tr > td:nth-child(3){
    width: 60px;
    // display: inline-block;
  }
  
  .col-md-12,
  .col-md-4,
  .reg-form {
    padding-top: 40px;
  }
  
  header.header div.header__bar.row div.grid-6 {
    width: calc(26.56250vw + 205px);
  }
  
  .table thead th,
  .table tbody td {
    padding-left: 2px;
    padding-right: 2px;
  }
  
  a[data-method="delete"]::before,
  .br::before {
    content: '\A';
    white-space: pre;
  }
  
}

.pagination {
  & span {
    margin-right: 4px;
  }
}